body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-image: url("b13.jpg");  
}

.sidebar {
    width: 250px;
    background-color: #011428;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s;
    opacity: 0.9;
}

.sidebar button {
    background-color: transparent;
    color: white;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    margin: 17px 0;
    font-size: 20px;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    transition: color 0.3s, background-color 0.3s;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.sidebar button i {
    margin-right: 10px;
}

.sidebar button:hover {
    background-color: #022040;
    color: white;
    opacity: 0.7;
}

.content {
    margin-top: 80px;
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
    animation: fadeIn 0.5s forwards;
    transition: margin-left 0.3s;
}

.section {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    animation: fadeIn 0.5s forwards;
}

.landre, .landre1 {
    background: #181f26;
    padding: 25px;
    margin-top: -7%;
    box-shadow: 0 2px 10px rgba(255, 213, 213, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.landre3{
    background: #181f26;
    padding: 25px;
    /* margin: 10px 0; */
    margin-top: -6%;
    box-shadow: 0 2px 10px rgba(255, 213, 213, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.landre2 {
    /* background: #181f26; */
    padding: 25px;
    margin-top: -12%;
    /* margin: 10px 0; */
    box-shadow: 0 2px 10px rgba(255, 213, 213, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    opacity: 0.7;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

input[type="text"], input[type="number"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #054c99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2%;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: #013c7a;
}



.section {
    margin-top: 5%;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landre, .landre1 {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.land-details-table {
    width: 100%;  /* Adjusted the width to 100% */
    border-collapse: collapse;  /* Ensures borders collapse into a single line */
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.land-details-table th, .land-details-table td {
    border: 1px solid #ddd;  /* Single border for table cells */
    padding: 8px 5px;
}

.land-details-table th {
    background-color:  #0e08af;
    color: white;                                                
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.land-details-table tr {
    border-bottom: 1px solid #ddd;
}

.land-details-table tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.land-details-table tr:last-of-type {
    /* border-bottom: 2px solid #0e08af; */
}

.land-details-table tbody tr:hover {
    background-color: #f1f1f1;
}



/* Increase the width of input boxes */
input[type="text"], input[type="number"], input[type="email"] {
    width: calc(100% - 40px);  /* Adjusted the width */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color:  #0e08af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2%;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: #0e08af;
}

.landre2{
    text-align: center;
}



#landDetails {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top:2%;
    color: #333;
    margin-left: -60%;
    text-align: center;
    width: 200%;  
   
}


#districtInputContainer {
    position: relative; 
    height: 200px; 
}


#districtInputContainer input {
    width: 110%;
    margin-left: -6.9%;
     background-image: linear-gradient(to right, #0e08af, #6a6ab8); 
    border: 2px solid white;
    color:white;
   
}

#districtInputContainer ::placeholder{
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
}

#districtInputContainer #buttonid{
    width: 20%;
    position: absolute; 
    top: 10.8%; 
    left: 93.1%; 
    padding-bottom: 12px;
    padding-top: 9px;
    align-items: center;
    transform: translate(-50%, -50%); 
    background-color: rgb(255, 255, 255);
    color:black;
}


.land-details-table1 {
    width: 200%;  
    border-collapse: collapse;  
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    margin-left: -60%;
    margin-top: 1%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.land-details-table1 th, .land-details-table1 td {
    border: 1px solid #ddd;  
    padding: 8px 5px;
}

.land-details-table1 th {
    background-color:  #0e08af;
    color: white;                                                
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.land-details-table1 tr {
    border-bottom: 1px solid #ddd;
}

.land-details-table1 tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.land-details-table1 tr:last-of-type {
 
}

.land-details-table1 tbody tr:hover {
    background-color: #f1f1f1;
}

.landre5 {
    /* background: #181f26; */
    padding: 25px;
    margin-top: -12%;
    /* margin: 10px 0; */
    box-shadow: 0 2px 10px rgba(255, 213, 213, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    opacity: 0.7;
}

.landre5 h2{
    margin-left: -19%;
}

.landre5 button{
    margin-left: -4%;
}

.selected {
    background-color: #90bdf1; /* Light blue background */
}


#getDetailsButton1{
    width: 20%;
    position: absolute; 
    /* top: 180.8%;  */
    /* left: 93.1%;  */
    padding-bottom: 12px;
    padding-top: 9px;
    align-items: center;
    transform: translate(-50%, -50%); 
    background-color: rgb(255, 255, 255);
    color:black;
}




#transferDetails{
    color:white;
  text-align: left;
  font-size: 13px;
  font-weight: none;
}

#transferDetails:first-child{
    color:red;
}





.land-details-table3 {
    width: 200%;  
    margin-top: 4%;
    border-collapse: collapse;  /* Ensures borders collapse into a single line */
    /* margin: 20px 0; */
    margin-left: -60%;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.land-details-table3 th, .land-details-table3 td {
    border: 1px solid #ddd;  /* Single border for table cells */
    padding: 8px 5px;
}

.land-details-table3 th {
    background-color:  #0e08af;
    color: white;                                                
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.land-details-table3 tr {
    border-bottom: 1px solid #ddd;
}

.land-details-table3 tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.land-details-table3 tr:last-of-type {
    /* border-bottom: 2px solid #0e08af; */
}

.land-details-table3 tbody tr:hover {
    background-color: #f1f1f1;
}

#redirectButton1{
    width:20%;
    align-items: center;
    margin-left: 34%;
    background-color:#110bca;
}





/* .inactive-row {
    background-color: #f7a0a0; 
} */

/* .inactive-row{
    background-color: #f7a0a0; 
} */

.top-bar{
    margin-top:20px;
    margin-left: 86%;
    background-color: white;
  
 }
